/**
 * Default Page
 * ============================ */


 .page__header,
 .page__content {

     width: 100%;
     margin-bottom: ms();

 }

 .page-content__wrapper {
     clear: both;
 }

 .blog,
 .author,
 .date,
 .category,
 .tag,
 .page-template,
 .page-template-default {

     .pswp__caption__center {
         @include content-container( false );

         text-align: center;
     }

     .page__header > *,
     .page__content > *:not(.wp-block-cover),
     .twentytwenty-wrapper {
         width: calc( 100% - 1.8rem );
         margin: ms(2) 0.9rem 0;
     }

     .twenty20 {
         margin-top: 0 !important;
         margin-bottom: 0!important;
     }

     .image-text__text-wrapper > * {
        margin: ms(2) 0 0;
     }

     .page__content ul {
        list-style-position: outside;
        padding-left: 22px;
     }

 }

 @include grid-media( $phone-up ) {

     .blog,
     .author,
     .date,
     .category,
     .tag,
     .page-template,
     .page-template-default {

         .page__header > *,
         .page__content > *:not(.wp-block-cover),
         .twentytwenty-wrapper {
             width: 90%;
             margin: ms(2) auto;
         }

         .image-text__text-wrapper > * {
            margin: ms(2) 0;
         }

     }

 }

 @include grid-media( $tablet-up ) {

     .page__header,
     .page__content {
         @include grid-column( 12 );
     }

     .blog,
     .author,
     .date,
     .category,
     .tag,
     .page-template,
     .page-template-default {

         .page__header > *,
         .page__content > *:not(.wp-block-cover),
         .twentytwenty-wrapper {
             width: 60%;
             margin: ms(3) auto ms(2);
         }

         .image-text__text-wrapper > * {
            margin: ms(3) 0 ms(2);
         }

         .pswp__caption__center {
            padding: 2rem;
         }

         .alignwide {

            width: 90% !important;
            margin-left: auto !important;
            margin-right: auto !important;

         }

         .alignfull {

            width: 100% !important;
            margin-left: auto !important;
            margin-right: auto !important;

         }

     }

 }

 @include grid-media( $desktop-up ) {

     .blog,
     .author,
     .date,
     .category,
     .tag,
     .page-template,
     .page-template-default {

         .page__header > *,
         .page__content > *:not(.wp-block-cover),
         .twentytwenty-wrapper {
             width: 50%;
             margin: ms(4) auto ms(3);
         }

         .image-text__text-wrapper > * {
            margin: ms(4) 0 ms(3);
         }

         .alignwide:not(.wp-block-cover) {

            width: 80% !important;

         }

         .alignfull:not(.wp-block-cover) {

            width: 100% !important;

         }

     }

 }

 @include grid-media( $big-desktop-up ) {

     .page__header,
     .page__content {
         @include grid-column( 16 );
     }

     .blog,
     .author,
     .date,
     .category,
     .tag,
     .page-template,
     .page-template-default {

         .page__header > *,
         .page__content > *:not(.wp-block-cover),
         .twentytwenty-wrapper {
             width: 40%;
             margin: ms(4) auto ms(3);
         }

         .image-text__text-wrapper > * {
            margin: ms(4) 0 ms(3);
         }

         .alignwide:not(.wp-block-cover) {

            width: 70% !important;

         }

         .alignfull:not(.wp-block-cover) {

            width: 100% !important;

         }

     }

 }