.blog,
.author,
.date,
.category,
.tag {

    .page__content {

        .wp-block-categories {
            margin: ms(4) ms();
            width: auto;
        }

        .wp-block-categories-list {

            display: none;

        }

        .wp-block-categories-dropdown {

            position: relative;

            &::after {
                content: "";
                border: solid;
                border-width: 0 0 3px 3px;
                background: transparent;
                border-top-color: transparent;
                width: 10px;
                height: 10px;
                position: absolute;
                top: calc( 50% - 3px ); //accounts for rotation altering height
                right: 20px;
                transform:translateY( -50% ) rotate(-45deg);
            }

        }

    }

    .news-posts {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow: row wrap;
        align-content: flex-start;
    }

}

@include grid-media( $phone-up ) {

    .blog,
    .author,
    .date,
    .category,
    .tag {

        .page__content {

            .wp-block-categories {
                margin: ms(6) auto ms(4);
            }

        }

        .news-posts {
            padding-top: 4rem;
        }

    }

}

@include grid-media( $tablet-up ) {

    .blog,
    .author,
    .date,
    .category,
    .tag {

        .page__content {

            .wp-block-categories {
                margin-top: ms(6);
                margin-bottom: ms(4);
            }

            .wp-block-categories-list {

                display: block;
                text-align: center;

                .cat-item {
                    display: inline-block;
                    text-decoration: none;

                    a {
                        box-shadow: none;
                        font-size: 1.1rem;
                        margin: 0 ms();
                        padding-bottom: ms(-4);
                        text-transform: uppercase;
                    }
                    a:hover,
                    &.current-cat a {
                        content: '';
                        box-shadow: inset 0 -5px 0 $red;
                        text-decoration: none;
                    }
                }

            }
            .wp-block-categories-dropdown {

                display: none;

            }

        }

        .news-posts {
            padding-top: 6rem;
        }

    }

}

@include grid-media( $laptop-up ) {

    .blog,
    .author,
    .date,
    .category,
    .tag {

        .page__content {

            .wp-block-categories {
                margin-top: 100px;
                margin-bottom: ms(6);
            }

        }

    }

}
