/**
 * Full Width Page Template
 * ============================ */

.page-template-tpl-timeline {

    .timeline-container {

        @include content-container(false);
        position: relative;

        &::before {
            content: '';
            background: $black;
            padding: 1px;
            height: 100%;

            position: absolute;
            left: ms(3);
        }

        .post__title {
            margin-left: ms();
        }

    }

    .timeline-wrapper {
        width: 100%;
        overflow: hidden;
    }

    .featured-year {
        width: 3rem;
        height: 3rem;

        border: 2px solid $black;
        border-radius: 1000px;
        background-color: $white;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0;

        position: absolute;
        top: -0.5rem;
        left: -0.5rem;

        z-index: 5;
    }

    .timeline--start-year,
    .timeline--end-year {
        width: 3rem;
        height: 3rem;

        border: 2px solid $black;
        border-radius: 1000px;
        background-color: $white;

        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0;

        position: relative;
        left: 0.5rem;
    }

    .timeline-entry {
        @include grid-column( 4, $phone-down );

        margin-top: ms();
        margin-bottom: ms();
        padding: 0 0 0 ms(4);
        position: relative;

        &.align-right::before,
        &.align-left::after {
            content: '';
            background: $red;
            border-radius: 50px;
            width: 1rem;
            height: 1rem;

            position: absolute;
            top: 0.5rem;
            left: ms(-2);
        }

    }

}

@include grid-media( $phone-up ) {

    .page-template-tpl-timeline {

        .timeline-entry {

            @include grid-column(10);

        }

    }

}

@include grid-media( $tablet-up ) {

    .page-template-tpl-timeline {

        .timeline-container {

            &::before {
                left: 50%;
                transform: translateX(-50%);
            }

            .post__title {
                margin-left: 0;
            }

        }

        .featured-year {
            width: 4rem;
            height: 4rem;
            top: -0.5rem;
            font-size: 90%;
        }

        .align-right .featured-year {
            left: -2rem;
        }

        .align-left .featured-year {
            right: -2rem;
            left: auto;
        }

        .timeline-entry {

            width: 40%;
            margin: 0;
            padding: 0;

            &:nth-child(2n+1) {
                clear: both;
            }

            &.align-right::before,
            &.align-left::after {
                top: 0.7rem;
            }

            &.align-right::before {
                left: -0.5rem;
            }
            &.align-left::after {
                left: auto;
                right: -0.5rem;
            }
        }

        .align-left {
            text-align: right;
            padding-right: 4rem;
            margin-left: 10%;
        }

        .align-right {
            margin-top: ms(8);
            margin-right: 10%;
            padding-left: 4rem;
        }

        .timeline--start-year,
        .timeline--end-year {
            width: 6rem;
            height: 6rem;
            left: 0rem;
            margin: 0 auto;
        }

    }

}

@include grid-media($big-desktop-up) {

    .page-template-tpl-timeline {

        .featured-year {
            width: 5rem;
            height: 5rem;
            top: -1rem;
        }

        .align-left .featured-year {
            right: -2.5rem;
        }

        .align-right .featured-year {
            left: -2.5rem;
        }

    }

}