/**
 * Full Width Page Template
 * ============================ */

.page-template-tpl-full-width .type-page {

    .entry-header, 
    .entry-content {

        @include grid-media( $laptop-up ) {

            @include grid-column( 10 );
            @include grid-shift( 1 );

        }

    }

}