.cookies-bar {

    background-color: $light-grey;
    width: 100%;
    z-index: 100;
    position: absolute;

    transform: translateY(0);
    transition: all 0.2s ease-in-out;

    .content-wrapper {
        padding: 0 ms(1);
    }

    .cookies__content {
        font-size: ms(1);
        line-height: 3rem;
        height: 3rem;
    }

    .close-cookies-bar {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        float: right;
        padding: 0.7rem;
    }

    .cookies__link {
        font-weight: $bold-weight;
        padding-left: 0.4rem;
    }

    &.cookie-set {
        transform: translateY(-100%);
        transition: transform 0.2s cubic-bezier(.7,.1,.5,.95);
    }

}