/**
 * Pagination
 * ============================ */

.pagination .page-numbers {
    text-align: center;
    margin-top: ms(2);

    li {

        display: inline-block;

        .page-numbers {

            border: 2px solid $black;
            display: inline-block;
            padding: ms(-4) ms();
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: ms();

            &:not(.dots) {

                &:hover,
                &:focus {

                    border-color: $red;
                    color: $red;

                }

            }

            &.current {

                background-color: $red;
                color: $white;
                border-color: $red;

            }

        }

    }

}