/**
 * Site Terms
 * ============================ */

.site-copyright {

    clear: both;

    @include grid-column(4, $phone-down);

    @include grid-media($phone-up) {
        @include grid-column(6);
    }
    @include grid-media($tablet-up) {
        @include grid-column(6);
    }
    @include grid-media($big-desktop-up) {
        @include grid-column(8);
    }

}

.site-copyright {

    text-align: center;
    font-size: ms(-1);

    a {
        color: $black;
    }

    .site-copyright__designed {
        color: $black;
    }

    .site-copyright__designed + a {
        font-weight: bold;
    }

    @include grid-media( $phone-up ) {

        text-align: left;
        font-size: ms();

        li {

            display: inline-block;

        }

    }

}