/**
 * Site Branding
 * ============================ */

.site-branding {

    display: inline-block;
    vertical-align: top;
    text-align: center;

    h1 {

        font-size: ms(2);

    }

    a {

        display: block;
        margin: 0 auto;

        @include grid-media( $tablet-up ) {
            margin: 0;
        }

    }

    .site-description {

        @include subheading;

        display: none;

        @include grid-media( $tablet-up ) {

            display: inline-block;

        }

    }

    .site-branding__logo {
        width: 12rem;
        margin: 0 auto;
        @include grid-media($tablet-up) {
            width: 14rem;
        }
    }

    &.site-branding--footer .site-branding__logo {
        @include grid-media($tablet-up) {
            margin: 0;
        }
    }

}