/**
 * Site Social
 * ============================ */

 .site-social {

    text-align: center;

    @include grid-column(4, $phone-down);

    @include grid-media($phone-up) {
        @include grid-column(6);
    }
    @include grid-media($tablet-up) {
        @include grid-column(6);
    }
    @include grid-media($big-desktop-up) {
        @include grid-column(8);
    }

    .social-links {
        display: flex;
        justify-content: center;

        @include grid-media($phone-up) {
            justify-content: flex-end;
        }
    }

    .social-links li {
        display: inline-block;
    }

    .social-links li a {
        display: block;
        margin-left: ms();
        width: 3.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: ms(4);
        color: $black;
        text-decoration: none;
    }

}