/**
 * Main Navigation
 * ============================ */

.main-navigation {

    z-index: z( $z-elements, modals );
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    background-color: $white;
    visibility: hidden;
    opacity: 0;
    z-index: 10;

    transition: opacity 0.2s 0s, visibility 0s 0.2s;

    @include grid-media($phone-up) {
        text-align: left;
    }

    li {
        transition: transform 0s 0.4s, opacity 0.2s 0s;
        transform: translateY( -10% );
        opacity: 0;

    }

    .no-js & {

        position: static;
        opacity: 1;
        visibility: visible;
        height: auto;
        width: 100%;

        margin-top: 5rem;

        li {
            opacity: 1;
            transition: all 0s 0s;
        }

    }

    .js-menu-active:not(.no-js) & {

        visibility: visible;
        opacity: 1;

        transition: opacity 0.4s 0s, visibility 0s 0s;

        li {
            transform: translateY( 0% );
            opacity: 1;

            transform-style: ease-in-out;
            transition: transform 0.4s 0s, opacity 0.4s 0s;

            @for $i from 1 through 10 {

                &:nth-of-type(#{$i}) {
                    transition-delay: $i * 0.1s;
                }

            }
        }

    }

}