.main-navigation {

    .menu {
        width: 100%;
    }

    .menu a {
        display: block;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
            color: $red;
            text-decoration: none;
        }
    }

}

@include grid-media( $phone-down ) {

    .main-navigation {

        &__menu-item--has-children {
            margin-bottom: ms();

            & > a {
                display: flex;
                align-items: center;
            }

            & > a::after {
                @include custom-fa-icon( $fa-var-chevron-down );
                font-size: 0.6rem;
                margin-left: ms(-2);
            }

            &.js-dropdown-active > a::after {
                @include custom-fa-icon( $fa-var-chevron-up );
            }
        }

        &__sub-menu {
            display: none;
            opacity: 0;
            visibility: hidden;
            margin-top: ms();
        }

        .js-dropdown-active {

            > a {
                font-weight: $bold-weight;
            }

            .main-navigation__sub-menu {
                display: flex;
                opacity: 1;
                visibility: visible;
                flex-direction: column;
            }

        }

    }

}

@include grid-media( $phone-up ) {

    .main-navigation {

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .menu .main-navigation__menu-item--has-children {
            margin: 0 ms(4);

            &:first-of-type {
                margin-right: ms(8);
            }

            > a {
                display: none;
            }
        }

    }

}

@include grid-media( $tablet-up ) {

    .main-navigation {

        .menu .main-navigation__menu-item--has-children {

            &:first-of-type {
                margin-right: ms(10);
            }

        }

        .menu a {
            font-size: 2rem;
        }

    }

}

@include grid-media( $big-desktop-up ) {

    .main-navigation {

        .menu .main-navigation__menu-item--has-children {

            &:first-of-type {
                margin-right: ms(10);
            }

            a {
                font-size: 2.2rem;
            }
        }

    }

}