.product-navigation {

    width: 100%;
    display: block;
    background: $red;
    overflow: hidden;

    .page-template-tpl-product-blue & {
        background: $blue;
    }
    .page-template-tpl-product-green & {
        background: $green;
    }
    .page-template-tpl-product-gold & {
        background: linear-gradient(45deg, hsla(41, 38%, 36%, 1) 0%, hsla(42, 29%, 46%, 1) 75%);
    }

    .menu {

        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        .menu-item {
            display: inline-block;
            padding: ms(1) 0.5rem;

            @include grid-media($big-desktop-up) {
                padding: ms(2) ms(3);
            }
        }

        .menu-item a {
            color: $white;
            font-weight: $bold-weight;
            font-size: ms(1);
        }

    }

}

@include grid-media($tablet-up) {

    .product-navigation {
        width: 45%;
        position: absolute;
        right: 0;
        z-index: z( $z-elements, overlay );

        body:not(.home) & {
            top: 0;
        }

        .home & {
            bottom: 0;
        }

        .menu .menu-item a {
            font-size: ms(2);
        }

    }

    .home .product-navigation {

        width: 50%;

        .menu {
            padding: 3.6rem 0;

            .menu-item a {
                font-size: ms(2);
            }
        }

    }
}

@include grid-media($desktop-up) {

    .product-navigation {
        width: 35%;
    }
}