.site-map {

    .menu {

        text-align: center;
        padding-top: ms(2);
        overflow: hidden;
        font-size: ms(0);

        @include grid-media($phone-up) {
            text-align: left;
            font-size: ms(1);
            column-count: 2;
            column-gap: 20px;
        }

    }

}