@import "abstracts/module";
@import "modular-scale";
@import "abstracts/grid-settings";

.editor-post-title__block .editor-post-title__input {
    font-family: $header-font;
}

.editor-rich-text__tinymce {
    font-family: $body-font;
}

.wp-block-button {

    .wp-block-button__link {

        @include btn-base();

        // Default Style
        @include btn-hollow( $black );

        line-height: 1.4;

    }

    &.is-style-button-hollow-white {

        .wp-block-button__link {
            @include btn-hollow( $white, $black );
            box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.1);
            text-shadow: 2px 2px 10px rgba(150, 150, 150, 0.5);
        }

    }

}