@import "abstracts/module";
@import "modular-scale";
@import "abstracts/grid-settings";

// Bourbon Neat
// See: http://neat.bourbon.io/docs/
@import "neat";

/* General */

.nf-form-cont {
    margin-bottom: ms();
}

.nf-input-limit {
    margin: 0;
}

.nf-field-description {

    font-size: 80%;
    color: $black;
    margin-bottom: 0;

}

.nf-field-label {
    margin-bottom: 0;
}

.nf-field-label label {
    font-weight: $normal-weight !important;
    font-size: 1.4rem;
}

.label-above .nf-field-element {
    margin-top: 0;
}

.nf-field-label {
    position: relative;
}

.html-container.nf-field-container *,
.html-container.nf-field-container {
    margin-bottom: 0;

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: ms();
    }
}

.nf-form-fields-required {

    font-size: ms();
    font-style: italic;
    color: $black;
    margin-bottom: ms();

}

/* Error States */
.nf-error .ninja-forms-field {
    border-color: $red;
}

.nf-error .ninja-forms-field {
    border-color: $red;
}

.nf-after-field .nf-error-msg {
    font-size: 80%;
    margin-top: ms(-4);
}

.ninja-forms-req-symbol,
.nf-error-field-errors,
.nf-error-msg {
    color: $error;
}

/* Checkbox/Radio */

.checkbox-container label {
    font-weight: $normal-weight;
}

.list-checkbox-wrap,
.list-radio-wrap {
    .nf-field-element ul {
        margin-top: 0;
    }
}

.list-checkbox-wrap .nf-field-element li label,
.list-radio-wrap .nf-field-element li label {
    display: inline-block !important;
    margin-left: 0 !important;
}

.checkbox-container input,
.listradio-container input,
.listcheckbox-container input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    width: 0;
    height: 0;

}

.checkbox-container .nf-checked-label,
.listcheckbox-container .nf-field-element .nf-checked-label,
.listradio-container .nf-field-element .nf-checked-label {

    position: relative;

    &::after {

        content: "";
        border: solid;
        border-width: 0 0 3px 3px;
        border-bottom-color: $black;
        border-left-color: $black;
        background: transparent;
        border-top-color: transparent;
        width: 17px;
        height: 9px;
        position: absolute;
        top: 15px;
        left: 8px;
        transform: rotate(-45deg);

    }

}

.checkbox-wrap {

    .nf-field-label {
        order: 0 !important;
        padding-left: 0 !important;

        label {
            font-weight: normal;
        }
    }

    .nf-field-description {
        width: 100%;
        display: block;
    }

}

.checkbox-container label,
.listradio-container .nf-field-element label,
.listcheckbox-container .nf-field-element label {

    &::before {
        content:'';
        display: inline-block;
        width: ms(3);
        height: ms(3);
        margin-right: ms(-1);
        border: 1px solid $black;
        background: $white;
        vertical-align: middle;
        border-radius: 0;
    }

}

.listradio-container label {

    &::before {
        border-radius: 50%;
    }

}

/* Select */
.select .nf-field-element,
.list-wrap:not(.listradio-wrap):not(.list-multiselect-wrap):not(.listcheckbox-wrap) .nf-field-element {

    position: relative;

    &::after {
        content: "";
        border: solid;
        border-width: 0 0 3px 3px;
        background: transparent;
        border-top-color: transparent;
        width: 10px;
        height: 10px;
        position: absolute;
        top: calc( 50% - 3px ); //accounts for rotation altering height
        right: 20px;
        transform:translateY( -50% ) rotate(-45deg);
    }

}

/**
 * Columns
 */
@include grid-media( $tablet-down ) {

    .nf-form-cont {
        .five-sixths,
        .four-sixths,
        .one-fourth,
        .one-half,
        .one-sixth,
        .one-third,
        .three-fourths,
        .three-sixths,
        .two-fourths,
        .two-sixths,
        .two-thirds {
            clear: initial;
            float: left;
            margin-left: 0;
            .inside {
                padding: 20px;
            }
            &::after {
                clear: both;
                content: "";
                display: block;
            }
        }

        .one-half,
        .three-sixths,
        .two-fourths,
        .one-third,
        .two-sixths,
        .four-sixths,
        .two-thirds,
        .one-fourth,
        .three-fourths,
        .one-sixth,
        .five-sixths {
            width: 100%;
        }

        .first {
            clear: both;
            margin-left: 0;
        }

    }

}