/*!
Theme Name:     Hainsworth
Theme URI:      http://inkandwater.co.uk
Author:         Ink & Water LTD
Author URI:     http://inkandwater.co.uk
Description:    Hainsworth is a lean parent theme using bourbon, neat and modular scale.
Version:        1.1.3
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    hainsworth
Tags:           One Column, Two Columns, Right Sidebar, Flexible Header, Accessibility Ready, Custom Colours, Custom Header, Custom Menu, Custom Logo, Editor Style, Featured Images, Footer Widgets, Post Formats, RTL Language Support, Sticky Post, Theme Options, Threaded Comments, Translation Ready
*/

/**!
 * Vendor
 * ================================ */

$fa-font-path:        "./assets/fonts/fontawesome";

@import "./fontawesome.scss";
@import "./solid.scss";
@import "./brands.scss";

// Reset
// See: github.com/necolas/normalize.css
@import "vendor/normalize";

// Bourbon
// See: http://bourbon.io/docs/
@import "bourbon";

// Modular Scale
// See: https://github.com/modularscale/modularscale-sass
@import "modular-scale";

// This needs to be loaded up before neat
@import "abstracts/grid-settings";

// Bourbon Neat
// See: http://neat.bourbon.io/docs/
@import "neat";

@import "slick.scss";

$slick-font-path: "./assets/fonts/slick/";
$slick-loader-path: "./assets/images/";
@import "slick-theme.scss";

/**!
 * Authored
 * ================================ */
@import "abstracts/module";

@import "base/module";
@import "blocks/module";
@import "components/module";
@import "layout/module";
@import "pages/module";
@import "posts/module";