$easing: cubic-bezier(.8,.1,.2,1);
$duration: 0.6s;
$delay: $duration;

/**
 * Base Animation Styles
 * ============================================ */

@mixin animate() {
    opacity: 0;
    transition: opacity $duration $easing;
}

@mixin animate-visible() {
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@mixin animate-up() {
    transform: translateY(2rem);
    transition: all $duration $easing;
}

@mixin animate-up-visible() {
    transform: translateY(0);
}

@mixin animate-side( $side: left ) {
    @if $side == left {
        transform: translateX(2rem);
        transition: all $duration $easing;
    } @elseif $side == right {
        transform: translateX(-2rem);
        transition: all $duration $easing;
    }
}

@mixin animate-side-visible() {
    transform: translateX(0);
}

.animate {
    @include animate;

    .no-js & {
        opacity: 1 !important;
    }
}

.animate--active,
.animate--is-visible {
    @include animate-visible();
}

.animate--up {
    @include animate-up();
}

.animate--up.animate--active,
.animate--up.animate--is-visible {
    @include animate-up-visible();
}

.animate--left {
    @include animate-side(left);

    .no-js & {
        transform: translateX(0);
    }
}

.animate--right {
    @include animate-side(right);

    .no-js & {
        transform: translateX(0);
    }
}

.animate--left.animate--active,
.animate--left.animate--is-visible,
.animate--right.animate--active,
.animate--right.animate--is-visible {
    @include animate-side-visible();
}

@keyframes arrow-bounce {
  from {
    transform: translateX(-50%) translateY(1rem);
  }
  to {
    transform: translateX(-50%) translateY(0%);
  }
}

/**
 * Text Highlight Animations
 * ============================================ */
.animate em {

    body:not(.no-js) & {
        background-color: transparent;
    }

    background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $red 50% );
    background-size: 200%;
    background-position: 0 0;
    transition: background $duration $delay $easing;

    .page-template-tpl-product-green & {
        background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $green 50% );
    }

    .page-template-tpl-product-blue & {
        background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $blue 50% );
    }

    .page-template-tpl-product-gold & {
        background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $gold 50% );
    }

}
.header-block__slide em {

    background-color: transparent;
    background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $red 50% );
    background-size: 200%;
    background-position: 0 0;
    transition: background $duration 1s $easing;

    .page-template-tpl-product-green & {
        background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $green 50% );
    }

    .page-template-tpl-product-blue & {
        background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $blue 50% );
    }

    .page-template-tpl-product-gold & {
        background-image: linear-gradient( to right, rgba( $white,0 ) 50%, $gold 50% );
    }

}

.animate--active em,
.animate--is-visible:not(.slick-slide) em,
.header-block__slide.slick-current.slick-active em {
    background-position: -100% 0;
}


/**
 * Arrows
 * ============================================ */

.animate--active.arrow-center,
.animate--active.arrow-left,
.animate--active.arrow-right,
.animate--is-visible.arrow-center,
.animate--is-visible.arrow-left,
.animate--is-visible.arrow-right {

    &::after {
        animation-name: arrow-bounce;
        animation-duration: 1s;
        animation-iteration-count: 5;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-delay: $delay*1.5;
    }

}
.header-block .header-block-slides {

    &::after {
        animation-name: arrow-bounce;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-delay: $delay*1.5;
    }

}

.animate--active.arrow-center,
.animate--is-visible.arrow-center {
    // The centered arrow has a transform on it
    // already, so that transform needs to be
    // added back in so the animation class does
    // not override it.
    &::after {
        transform: translateX(-50%);
    }

}

/**
 * Media/Text Block
 */

.wp-block-media-text.animate,
.wp-block-image-text.animate {

    .wp-block-media-text__content,
    .wp-block-image-text__text-wrapper {
        transform: translateY(2rem);
        transition: all $duration $delay $easing;
        opacity: 0;
    }

    .no-js & {

        .wp-block-media-text__content,
        .wp-block-image-text__text-wrapper {
            opacity: 1 !important;
        }

        .wp-block-media-text__media,
        .wp-block-image-text__image-wrapper {
            &::before {
                width: 0;
            }
        }

    }

    .wp-block-media-text__media,
    .wp-block-image-text__image-wrapper {

        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: $white;
            z-index: 1;
            width: 100%;
            transition: width $duration $easing;
        }

    }

}

.wp-block-media-text.animate--active,
.wp-block-media-text.animate--is-visible,
.wp-block-image-text.animate--active,
.wp-block-image-text.animate--is-visible {

    .wp-block-media-text__content,
    .wp-block-image-text__text-wrapper  {
        transform: translateY(0);
        opacity: 1;
    }

    .wp-block-media-text__media,
    .wp-block-image-text__image-wrapper {

        position: relative;

        &::before {
            width: 0;
        }

    }

}

/**
 * Embed
 ============================================== */

.wp-block-embed.animate{

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $white;
        z-index: 1;
        width: 100%;
        transition: width $duration $easing;
    }

}

.wp-block-embed.animate--is-visible,
.wp-block-embed.animate--active {

    &::before {
        width: 0;
    }

}

.header-block__slides {
    @include animate();
}

.slick-initialized .header-block__slide {

    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: lighten( $light-grey, 5% );
        z-index: 1;
        width: 100%;
        transition: width 0.45s 0.4s $easing;
    }

}

.header-block__slide.slick-current {

    &::before {
        width: 0;
    }

}


/**
 * Timeline Entries
 ============================================== */

.card--post.animate {
    transform: scale(0.9);
    will-change: transform;
}

.card--post.animate--is-visible,
.card--post.animate--active {

    transform: scale(1);

    &:nth-of-type(2),
    &:nth-of-type(4) {
        transition-delay: 0.1s;
    }

    &:nth-of-type(3),
    &:nth-of-type(5),
    &:nth-of-type(7) {
        transition-delay: 0.2s;
    }

    &:nth-of-type(6),
    &:nth-of-type(8),
    &:nth-of-type(10) {
        transition-delay: 0.3s;
    }

    &:nth-of-type(9),
    &:nth-of-type(11) {
        transition-delay: 0.4s;
    }

    &:nth-of-type(12) {
        transition-delay: 0.5s;
    }

}