/*
 * Buttons
 * ============================ */
.button {

    @include btn-base();

    &--large {
        font-size: ms(1);
    }

    &--xlarge {
        font-size: ms(2);
        padding: ms() ms(2);
    }

    &--block {
        display: block;
    }

    &--small {
        padding: ms(-3) ms(-1);
        font-size: ms(-1);
    }

    &--black {

        @include btn-solid( $black, $white, darken( $black, 10% ) );

    }
    &--black#{&}--hollow {
        @include btn-hollow( $black );
    }

    &--red {

        @include btn-solid( $red, $white, darken( $red, 10% ) );

    }
    &--red#{&}--hollow {
        @include btn-hollow( $red );
    }

    &--blue {

        @include btn-solid( $blue, $white, darken( $blue, 10% ) );

    }
    &--blue#{&}--hollow {
        @include btn-hollow( $blue );
    }

    &--green {

        @include btn-solid( $green, $white, darken( $green, 10% ) );

    }
    &--green#{&}--hollow {
        @include btn-hollow( $green );
    }

    &--white {

        @include btn-solid( $white, $black, darken( $white, 10% ) );

    }
    &--white#{&}--hollow {
        @include btn-hollow( $white, $black );
    }

}

.wp-block-button {

    .wp-block-button__link {

        @include btn-base();

        // Default Style
        @include btn-hollow( $black );

        line-height: 1.4;

    }

    &.is-style-button-hollow-white {

        .wp-block-button__link {
            @include btn-hollow( $white, $black );
            box-shadow: none !important;
        }

    }

}