@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-book.eot");
    src:url("./assets/fonts/texta/texta-alt-book.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-book.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-book.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-book.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-book-italic.eot");
    src:url("./assets/fonts/texta/texta-alt-book-italic.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-book-italic.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-book-italic.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-book-italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-bold.eot");
    src:url("./assets/fonts/texta/texta-alt-bold.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-bold.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-bold.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-bold-italic.eot");
    src:url("./assets/fonts/texta/texta-alt-bold-italic.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-bold-italic.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-bold-italic.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-bold-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-black.eot");
    src:url("./assets/fonts/texta/texta-alt-black.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-black.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-black.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-black.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-black-italic.eot");
    src:url("./assets/fonts/texta/texta-alt-black-italic.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-black-italic.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-black-italic.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-black-italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-heavy.eot");
    src:url("./assets/fonts/texta/texta-alt-heavy.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-heavy.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-heavy.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-heavy.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family:"Texta Alt";
    src:url("./assets/fonts/texta/texta-alt-heavy-italic.eot");
    src:url("./assets/fonts/texta/texta-alt-heavy-italic.eot") format("eot"),
        url("./assets/fonts/texta/texta-alt-heavy-italic.woff2") format("woff2"),
        url("./assets/fonts/texta/texta-alt-heavy-italic.woff") format("woff"),
        url("./assets/fonts/texta/texta-alt-heavy-italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}