/**
 * Forms
 *
 */

 form {

    margin-bottom: ms(1);

}

button,
input,
select,
textarea {

    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    max-width: 100%;

}

input[type="checkbox"],
input[type="radio"] {

    /* Addresses excess padding in IE8/9 */
    padding: 0;

}

input[type="search"]::-webkit-search-decoration {

    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;

}

input[type="search"] {

    // Overrules normalize.css.
    box-sizing: border-box;

}

button::-moz-focus-inner,
input::-moz-focus-inner {

    /**
     *  Corrects inner padding and border displayed oddly in FF3/4
     *  www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
     */
    border: 0;
    padding: 0;

}

legend {

    display: block;
    width: 100%;
    padding: ms(-2) 0;
    margin-bottom: ms(-2);
    border-bottom: 1px solid $black;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
input[type="search"],
textarea,
select,
.input-text {

    //transition: all $transition $duration;

    -webkit-appearance: none;
    background-color: $white;
    width: 100%;
    padding: ms(-2);
    color: $black;
    outline: none;
    font-weight: $normal-weight;
    font-family: $body-font;
    font-size: 1.1rem;
    border: 1px solid $black;
    border-radius: 0;

    &:focus {
        border: 1px solid lighten( $black, 30% );
    }

}

textarea {

    /* Removes default vertical scrollbar in IE6/7/8/9 */
    overflow: auto;
    padding-left: ms(-1);
    display: block;

    /* Improves readability and alignment in all browsers */
    width: 100%;

}

label {

    font-weight: $normal-weight;

}

label.inline {

    input {
        width: auto;
    }

}

fieldset {

    padding: 0;
    border: 0;
    margin-bottom: ms(1);

    legend {
        font-weight: $bold-weight;
    }

}

/* Hide the checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {

    display: none;

    & + label {

        position: relative;
        cursor: pointer;
        font-family: $body-font;

    }

}