/**
 * Media
 * ============================ */

img {

    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;

    -ms-interpolation-mode: bicubic;

}

.wp-block-embed-vimeo {
    .no-js & {
        display: none;
    }
}

.responsive-embed {

    height: 0;
    margin-bottom: ms();
    overflow: hidden;
    padding-bottom: 67.5%;
    position: relative;

    &--widescreen {
        padding-bottom: 56.25%;
    }

    object,
    embed,
    video,
    iframe {

        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;

    }

}

/**
 * WordPress Image/Caption stuff
 */
figure {

    max-width: 100%;
    margin: 0;

}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.alignleft,
.alignright,
.aligncenter,
.alignnone {
    float: none;
    display: block;
    margin: 0 auto ms(2);
}

@include grid-media( $phone-up ) {

    .aligncenter,
    .alignnone {

    }

    .alignleft {
        float: left;
        margin: ms(-3) ms(2) ms(2) 0;
    }

    .alignleft {
        float: left;
        margin: ms(-3) ms(2) ms(2) 0;
    }

    .alignright {
        float: right;
        margin: ms(-3) 0 ms(2) ms(2);
    }

}

.wp-caption {
    margin-bottom: ms(2);
    max-width: 100%;
}

.wp-caption .wp-caption-text {
    font-size: ms(-1);
    font-style: italic;
    line-height: ms(0);
    padding-top: ms(-2);
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto ms(2);
}