/**
 * Tables
 * ============================ */

table {

    border-spacing: 0;
    width: 100%;
    font-size: ms(0);
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: ms();

    p {

        margin-bottom: 0;

    }

}

thead {
    border-bottom: 2px solid $black;
}

thead th {
    padding-bottom: ms(1);
}

tfoot {
    border-top: 2px solid $black;
}

tfoot td {
    padding-top: ms(1);
}

th {

    padding: ms(-2);
    text-align: left;
    vertical-align: top;

    @include grid-media( $tablet-up ) {

        padding: ms(1) 0;
        width: 20%;

    }

}

tr:not(:last-of-type) {
    border-bottom: 1px solid $black;
}

td {

    padding: ms(-2) 0;
    vertical-align: top;

    @include grid-media( $tablet-up ) {
        padding: ms(1) 0;
    }
}