/**
 * Typography
 * ============================ */

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td, fieldset {
    margin: 0;
    padding: 0;
}

body {

    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

::-moz-selection {

    background: $black;
    color: $white;

}

::selection {

    background: $black;
    color: $white;

}

/**
 * Body font styles
 */
body,
button,
input,
select,
textarea {

    font-family: $body-font;
    font-weight: $normal-weight;
    line-height: 1.4;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

button,
input,
select,
textarea {

    font-size: 100%;
    margin: 0;
    vertical-align: baseline;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    margin-top: 0;
    margin-bottom: ms(-1);
    font-weight: $heavy-weight;
    line-height: 1.0;

    &.has-letter-spacing {
        letter-spacing: 8px;
    }

    &.is-light-weight {
        font-weight: $light-weight;
    }

    &.is-uppercase {
        text-transform: uppercase;
    }

}

h2 {
    line-height: 1.1;

    &:not(.post__title)::after {
        background-color: $red;
        content: '';
        display: block;
        width: 2.5rem;
        padding: 3px;
        margin: ms() 0 0;
    }

    .page-template-tpl-product-blue &::after {
        background-color: $blue;
    }
    .page-template-tpl-product-green &::after {
        background-color: $green;
    }
    .page-template-tpl-product-gold &::after {
        background-color: $gold;
    }
}

h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h4,
h5,
h6 {
    font-weight: $normal-weight;
}

b,
strong {
    font-weight: $heavy-weight;
}

/**
 * Font Sizing
 */
body { font-size: ms(1); }

    h6, .h6 { font-size: ms(0); }
    h5, .h5 { font-size: ms(1); }
    h4, .h4 { font-size: ms(1); }
    h3, .h3 { font-size: ms(1); }
    h2, .h2 { font-size: ms(2); }
    h1, .h1 { font-size: ms(3); }

    .mega { font-size: ms(4); }

@include grid-media( $phone-up ) {

    h4, .h4 { font-size: ms(1); }
    h3, .h3 { font-size: ms(2); }
    h2, .h2 { font-size: ms(3); }
    h1, .h1 { font-size: ms(4); }

    .mega { font-size: ms(5); }

}

@include grid-media( $tablet-up ) {

    h4, .h4 { font-size: ms(2); }
    h3, .h3 { font-size: ms(3); }
    h2, .h2 { font-size: ms(4); }
    h1, .h1 { font-size: ms(5); }

    body { font-size: ms(2); }
    .mega { font-size: ms(6); }

    .h4-set-size { font-size: 1.9rem; }

}

@include grid-media( $big-desktop-up ) {

    h4, .h4 { font-size: ms(3); }
    h3, .h3 { font-size: ms(4); }
    h2, .h2 { font-size: ms(5); }
    h1, .h1 { font-size: ms(6); }

    .mega { font-size: ms(7); }

    .h4-set-size { font-size: 2rem; }

}

/**
 * Links
 */
a {

    transition: all $transition $duration;
    color: $anchor-color;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;

    &:hover,
    &:focus,
    &.active {

        opacity: 0.9;

    }

    .content-block > p &[href]:not( .button ) {

        font-weight: $bold-weight;
        box-shadow: inset 0 -1px 0 $black;

        &:hover,
        &:focus,
        &.active {

            box-shadow: inset 0 -2px 0 $black;

        }

    }
    &.wp-block-button__link {
        box-shadow: unset !important;
    }

    .wp-block-file & {

        &:hover,
        &:focus,
        &.active {

            text-decoration: none;

        }
    }

    img {

      border: 0;

    }

}

/**
 * Paragraphs
 *
 */
p {

    margin: 0 0 ms(1);

    &.lead {
        font-size: 120%;
        font-weight: $bold-weight;
        line-height: 1.4;
    }

}

.widget-title {

    .footer-widget-area & {

        @include heading;

        display: block;
        padding-bottom: ms(0);
        margin-bottom: ms(0);

    }

}

/**
 * Lists
 *
 * Unordered, Ordered, Definitions
 */
ul {

    // We do far more lists with no bullets,
    // so let's make this the default
    @include unstyled-list;

    .content-block & {

        list-style-type: square;

    }

}

ol {

    .content-block & {

        margin: 0 0 ms(0) ms(0);

    }

}

dl {
    margin: 0 0 ms(2);
}

dt {
    font-weight: $bold-weight;
}

dd {
    margin: 0 0 ms(1);
}


/**
 * Quotes
 */
blockquote {

    .content-block & {

        padding-left: ms(4);
        font-size: 110%;
        border-left: 6px solid $red;
        margin-left: - ms(1);

    }

}

cite {

    text-transform: uppercase;
    font-size: ms(-1);
    color: $black;
    font-style: normal;

}

em {
    font-style: normal;
    background-color: $red;
    color: $white;
}

.page-template-tpl-product-blue {
    em {
        background-color: $blue;
    }

}
.page-template-tpl-product-green {
    em {
        background-color: $green;
    }
}
.page-template-tpl-product-gold {
    em {
        background-color: $gold;
    }
}

address {
    font-style: italic;
    margin: 0 0 ms(1);
}

abbr, acronym {
    border-bottom: 1px dotted $black;
    cursor: help;
}

hr {
    height: ms(-1);
    margin: ms(1) 0;
    border: 0;
    background: $black;
}

/**
 * Monospaced stuff
 *
 */
code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
}

pre {

    border: 1px solid $black;
    font-size: ms(0);
    line-height: ms(1);
    margin: 0 0 ms(2);
    max-width: 100%;
    overflow: auto;
    padding: ms(2);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;

}

ins,
mark {

    background: 0 0;

}

mark {

    font-weight: $bold-weight;

}