/**
 * Widgets
 * ============================ */

.widget-area {

    .widget {

        margin-bottom: ms(0);
        padding-bottom: ms(0);

        &:not(:last-child) {
            border-bottom: 1px solid $black;
        }

    }

    .widget-title {

        display: block;
        font-weight: $bold-weight;
        margin-bottom: ms(0);
        font-size: ms(1);
        line-height: ms(1);

    }

}

.footer-widget-area {

    text-align: center;
    padding-top: ms(2);
    font-size: ms();

    @include grid-media($tablet-up) {
        text-align: left;
        font-size: ms(1);
    }

}