/**
 * Default Post
 * ============================ */

.home,
.blog,
.author,
.date,
.category,
.tag {

    .post {

        margin-bottom: ms(2);
        overflow: hidden;

        img {
            padding-bottom: ms(0);
        }

    }

    .categories-links a {
        font-weight: $bold-weight;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: ms(-4);
        box-shadow: inset 0 -5px 0 $red;
    }

}

.updated:not( .published ) {
    display: none;
}