/**
 * Post Navigation
 * ============================ */

.single {

    .post-navigation {
        width: calc( 100% - 1.8rem );
        margin: ms() 0.9rem;
        overflow: hidden;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        line-height: 1;

        & > * {
            flex-basis: 50%;
        }

        .nav-arrow {
            font-weight: $bold-weight;
            display: flex;
            align-items: center;
            color: $red;
            text-transform: uppercase;
            line-height: 1;
        }

        a:hover {
            text-decoration: none;

            .nav-next-title,
            .nav-previous-title {
                text-decoration: underline;
            }
        }

        .nav-next {
            text-align: right;
        }

        .nav-next .nav-arrow {
            justify-content: flex-end;
        }
        .nav-previous .nav-arrow {
            justify-content: flex-start;
        }

        .nav-next .nav-arrow::after {
            content: '';
            @include custom-fa-icon( $fa-var-chevron-right );
            transform: scale(0.7);
            padding-left: ms(-4);
        }

        .nav-previous .nav-arrow::before {
            content: '';
            @include custom-fa-icon( $fa-var-chevron-left );
            transform: scale(0.7);
            padding-right: ms(-4);
        }
    }

}

@include grid-media( $phone-up ) {

    .single {

        .post-navigation {
            width: calc( 100% - 1.8rem );
            margin: ms(4) 0.9rem;
            overflow: hidden;
        }

    }

}

@include grid-media( $tablet-up ) {

    .single {

        .post-navigation {
            @include grid-column( 11 );
            @include grid-shift(0.5);

            margin: ms() 0 ms(4);
        }

    }

}

@include grid-media( $desktop-up ) {

    .single {

        .post-navigation {
            @include grid-column( 10 );
            @include grid-shift(1);
        }

    }

}

@include grid-media( $big-desktop-up ) {

    .single {

        .post-navigation {

            @include grid-column( 10 );
            @include grid-shift(3);
        }

    }

}