.post.card {

    @include grid-column(4, $phone-down);

    margin-bottom: ms(4);
    position: relative;

    .post__thumbnail {
        overflow: hidden;
    }

    @include grid-media($phone-down) {
        .post__thumbnail {
            display: none;
        }
    }

    .post__title a::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

    .posted-on a,
    .categories-links a {
        position: relative;
        z-index: 5;
    }

}

@include grid-media($phone-up) {

    .post.card {

        @include grid-column(6);

        display: flex;
        flex-direction: column;

        &:nth-child(odd) {
            clear: both;
        }

        .post__header {
            display: flex;
            flex-direction: column;

            @supports ( grid-gap: 1rem ) {
                flex: 1;
            }
        }

        .post__title {
            @supports ( grid-gap: 1rem ) {
                flex: 3;
            }
        }

    }

}

@include grid-media($tablet-up) {

    .post.card {

        @include grid-column(4);

        padding: 0 ms(-2);

        &:nth-child(odd) {
            clear: none;
        }
        &:nth-child(3n+1) {
            clear: both;
        }

    }

}

@include grid-media($laptop-up) {

    .post.card {

        padding: 0 ms(-2);

    }

}