/**
* Single Post
* ============================ */

.single {

    .post {
        margin: ms(4) 0;
    }

    .post__header::after {
        content: '';
        background-color: $red;
        display: block;
        width: 4rem;
        padding: 3px;
        margin-top: ms(1);
    }

    .post__header,
    .post__content > *,
    .sharing {

        width: calc( 100% - 1.8rem );
        margin: 0 0.9rem ms();
        overflow: hidden;

    }

    .post__thumbnail {
        width: 100%;
        margin: ms() 0;
        overflow: hidden;
    }

    .post__content > .alignwide {
        width: 100%;
        margin: 0;
    }

    .post__content > .alignfull {
        max-width: 100vw;
        width: 100%;
        margin: 0;
    }

    .posted-on {
        font-size: ms(1);
        font-weight: $normal-weight;
    }

    .sharing__list {

        li {
            display: inline-block;
        }
    }

}

@include grid-media( $phone-up ) {

    .single {

        .post__thumbnail {
            width: 100%;
            margin: ms(4) 0;
            overflow: hidden;
        }

        .post__header,
        .post__content > *,
        .sharing {
            width: 90%;
            margin: 0 auto ms(2);
        }

    }

}

@include grid-media( $tablet-up ) {

    .single {

        .post__thumbnail {
            @include grid-column( 11 );
            @include grid-shift(0.5);

            margin: ms() 0 ms(4);
        }

        .post__header,
        .post__content > *,
        .sharing {
            width: 75%;
            margin: ms(3) auto ms(2);
        }

        .post__content > .alignwide {
            max-width: 90%;
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: ms(4);
            margin-bottom: ms(4);
        }

        .post__content > .alignfull {
            max-width: 100vw;
            width: 100%;
            margin: ms(4) 0;
        }

        .sharing__list {

            li {
                display: inline-block;
            }
            a {
                font-size: 2.5rem;
                margin-right: 0.5rem;
            }
        }

    }

}

@include grid-media( $desktop-up ) {

    .single {

        .post__thumbnail {
            @include grid-column( 10 );
            @include grid-shift(1);
        }

        .post__header,
        .post__content > *,
        .sharing {
            width: 60%;
            margin: ms(4) auto ms(3);
        }

        .post__content > .alignwide {
            max-width: 80%;
        }

    }

}

@include grid-media( $big-desktop-up ) {

    .single {

        .post__thumbnail {

            clear: both;

            @include grid-column( 10 );
            @include grid-shift(3);
        }

        .post__header,
        .post__content > *,
        .sharing {

            clear: both;
            width: 50%;
            margin: ms(4) auto ms(3);
        }

        .post__content > .alignwide {
            max-width: 80%;
        }

    }

}