.wp-block-columns {

    @include grid-media( $phone-down ) {
        flex-wrap: wrap;

        .wp-block-column {
            margin: 0 !important;
            padding: ms(-4) 0;
        }

    }
    @include grid-media( $phone-up ) {
        flex-wrap: nowrap;

        .wp-block-column {
            margin: 0 !important;
            padding: ms(-2);
        }
    }
    @include grid-media( $tablet-up ) {

        .wp-block-column {
            padding: ms();
        }
    }

}