.wp-block-hainsworth-countdown-timer {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    &__time {
        width: 8rem;
        text-align: center;
    }

    &__days,
    &__hours,
    &__minutes,
    &__seconds {

        background: linear-gradient(0deg, rgb(78, 69, 25) 20%, rgb(255, 243, 180) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0;
        font-weight: $light-weight;

    }

    &__heading {
        text-transform: uppercase;
        font-size: ms(-1);
        letter-spacing: 4px;
    }

    &__time {

        &.disabled {
            display: none;
        }
    }

}