.header-block {

    position: relative;

    .header-block-slides {
        position: relative;
    }

    .header-block__slide {
        height: calc( 100vh - 125px );
        min-height: 500px;
        width: 100%;

        display: flex;
        align-items: center;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        position: relative;
        z-index: 1;
    }

    .no-js & {

        .header-block__slide:not(:nth-of-type(1)) {
            display: none !important;
        }

    }

    .header-block__slide::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-color: #000;
        opacity: 0.1;
    }

    .header-block__slide--content {

        @include grid-column(4, $phone-down);
        font-size: 1.8rem;
        line-height: 1.2;
        z-index: 10;
        color: $white;

        text-shadow: 0px 2px 20px rgba( $black, 0.33 );

        a {
            color: $white;
            &:hover {
                color: darken($white, 10%);
            }
        }

    }

    .has-right-content { text-align: right; }
    .has-center-content { text-align: center; }

}

@include grid-media($phone-up) {

    .header-block {

        .header-block__slide {
            height: calc( 100vh - 125px );
        }

        .header-block__slide--content {

            @include grid-column(9);
            font-size: 2.4rem;

        }

        .has-right-content {
            .header-block__slide--content {
                @include grid-shift(3);
            }
        }

        .has-center-content {
            .header-block__slide--content {
                @include grid-shift(1.5);
            }
        }

    }

}

@include grid-media( $tablet-up ) {

    .header-block {

        height: calc( 100vh - 170px );

        .home & {

            &::after {
                content: '';
                background: $red;
                height: 5rem;
                width: 50%;
                padding: 4rem;
                position: absolute;
                bottom: 10rem;
                right: 0;
                z-index: -1;
            }

        }

        .header-block-slides {

            @include grid-column( 12 );

            &::after {
                @include arrow( 'left' );
                left: 20%;
                transform: translateX(0) translateY(1rem);
            }
        }

        .header-block__slide {

            height: 65vh;

        }

        .header-block__slide--content {

            @include grid-column(7);
            font-size: 2.8rem;

        }

        .has-left-content {
            .header-block__slide--content {
                @include grid-shift(1.5);
            }
        }

        .has-right-content {
            .header-block__slide--content {
                @include grid-shift(3.5);
            }
        }

        .has-center-content {
            .header-block__slide--content {
                @include grid-shift(2.5);
            }
        }

    }

}

@include grid-media( $laptop-up ) {

    .header-block {

        .header-block__slide--content {

            @include grid-column(6);
            font-size: 3rem;

        }

        .has-right-content {
            .header-block__slide--content {
                @include grid-shift(4.5);
            }
        }

        .has-center-content {
            .header-block__slide--content {
                @include grid-shift(3);
            }
        }

    }

}
@include grid-media( $big-desktop-up ) {

    .header-block {

        .header-block-slides {

            @include grid-column( 16 );

        }

        .content-wrapper {
            &::after {
                bottom: 3rem !important;
            }
        }

        .header-block__slide {

            height: 70vh;
        }

        .header-block__slide--content {

            @include grid-column(7);
            font-size: 3.2rem;

        }

        .has-left-content {
            .header-block__slide--content {
                @include grid-shift(2);
            }
        }

        .has-right-content {
            .header-block__slide--content {
                @include grid-shift(7);
            }
        }

        .has-center-content {
            .header-block__slide--content {
                @include grid-shift(4.5);
            }
        }

    }

}