.wp-block-cover {

    z-index: z( $z-elements, site );
    overflow: visible;
    display: flex;
    align-items: center;
    height: 90vh;

    &.alignwide {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.alignfull {
        margin-top: 0;
        margin-bottom: 0;
    }

    .wp-block-cover-text {
        @include grid-column(4, $phone-down);
        max-width: 100%;
        font-size: 1.8rem;

        .content-block & a[href] {
            color: $white;
            box-shadow: 0 0 0 transparent;
            &:hover {
                color: darken($white, 10%);
                box-shadow: 0 0 0 transparent;
            }
        }
    }

}

@include grid-media( $phone-up ) {

    .wp-block-cover {

        .wp-block-cover-text {
            @include grid-column(12);

            font-size: 2.4rem;
        }

        &.alignwide {
            height: 45vh;
        }

        &.alignfull {

            height: 55vh;

            .wp-block-cover-text {
                @include grid-column(10);
            }

            &.has-left-content {
                .wp-block-cover-text {
                    @include grid-shift(1);
                }
            }
            &.has-right-content {
                .wp-block-cover-text {
                    @include grid-shift(-1);
                }
            }

        }

    }

    .arrow {

        &-center::after {
            @include arrow( 'center' );
        }

        &-left.has-left-content::after {
            @include arrow( 'left' );
        }

        &-right.has-right-content::after {
            @include arrow( 'right' );
        }

    }

}

@include grid-media( $tablet-up ) {

    .wp-block-cover {

        .wp-block-cover-text {
            font-size: 2.8rem;
        }

        &.alignwide {

            height: 50vh;
            margin-bottom: 0;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;

            .wp-block-cover-text {
                @include grid-column(8);
                font-size: 2.4rem;
            }

            &.has-left-content {
                .wp-block-cover-text {
                    @include grid-shift(1);
                }
            }
            &.has-right-content {
                .wp-block-cover-text {
                    @include grid-shift(-1);
                }
            }

        }
        &.alignfull {

            height: 55vh;

            .wp-block-cover-text {
                @include grid-column(7);
            }

            &.has-left-content {
                .wp-block-cover-text {
                    @include grid-shift(1);
                }
            }
            &.has-right-content {
                .wp-block-cover-text {
                    @include grid-shift(-1);
                }
            }

        }

    }

}

@include grid-media( $desktop-up ) {

    .wp-block-cover {

        .wp-block-cover-text {
            font-size: 3rem;
        }

        &.alignwide {

            max-width: 80%;

            .wp-block-cover-text {
                font-size: 2.6rem;
            }

        }

    }

}

@include grid-media( $big-desktop-up ) {

    .wp-block-cover {

        .wp-block-cover-text {
            font-size: 3.2rem;
        }

        &.alignwide {

            max-width: 75%;

            .wp-block-cover-text {
                @include grid-column(8);
                font-size: 2.8rem;
            }

            &.has-left-content {
                .wp-block-cover-text {
                    @include grid-shift(2);
                }
            }
            &.has-right-content {
                .wp-block-cover-text {
                    @include grid-shift(-2);
                }
            }
        }

        &.alignfull {

            height: 65vh;

            .wp-block-cover-text {
                @include grid-column(8);
            }

            &.has-left-content {
                .wp-block-cover-text {
                    @include grid-shift(2);
                }
            }
            &.has-right-content {
                .wp-block-cover-text {
                    @include grid-shift(-3);
                }
            }

        }

    }

}