.wp-block-file {

    display: flex;
    align-items: center;

    a {
        line-height: 1;
        color: #000;
    }

    &::after {
        content: '';
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        display: inline-block;
        width: 10rem;
        height: 2rem;
        margin-left: ms(-2);
    }

    &.is-style-icons::after {
        background-image: url( 'assets/images/icons.svg' );
    }

    &.is-style-icon-washing-machine {
        &::after {
            background-image: url( 'assets/images/icons-washing-machine.svg' );
        }
    }
    &.is-style-icon-uv {
        &::after {
            background-image: url( 'assets/images/icons-uv-protection.svg' );
        }
    }
    &.is-style-icon-washing-machine-uv {
        &::after {
            background-image: url( 'assets/images/icons-uv-protection-washing-machine.svg' );
        }
    }
    &.is-style-icon-pdf {
        &::after {
            background-image: url( 'assets/images/icons-pdf.svg' );
        }
    }
    &.is-style-icon-ftp {
        &::after {
            background-image: url( 'assets/images/icons-ftp.svg' );
        }
    }
    &.is-style-icon-ftp-uv {
        &::after {
            background-image: url( 'assets/images/icons-ftp-uv-protection.svg' );
        }
    }
    &.is-style-icon-ftp-washing-machine {
        &::after {
            background-image: url( 'assets/images/icons-ftp-washing-machine.svg' );
        }
    }

}