.is-style-gallery-slider {

    @include grid-media($phone-down) {

        width: calc( 100% - 1.8rem ) !important;

    }

    .blocks-gallery-item a * {
        position: relative;
        top: 45%;
        transform: translateY(-50%);
    }

}

.wp-block-gallery {

    @extend .aligncenter;

}