.wp-block-hainsworth-image-text {

    display: flex;
    flex-wrap: nowrap;
    margin-top: 0 !important;

    figcaption {
        line-height: 1.2;
        margin-top: 1rem;
    }

}

// Phone Down
@media screen and ( max-width: 599px ) {

    .wp-block-hainsworth-image-text {


        .image-text__image-wrapper {
            margin: 4rem 1rem 1rem 0;

            width: 8rem;
            flex-shrink: 0;
        }
        .image-text__text-wrapper {
            flex-grow: 1;
        }

        &.has-media-on-the-right:not(.is-stacked-on-mobile) {
            .image-text__image-wrapper {
                order: 2;
                margin: 0 0 1rem 1rem;
            }
            .image-text__text-wrapper {
                order: 1;
            }
        }

        &.is-stacked-on-mobile {

            flex-wrap: wrap;

            .image-text__image-wrapper {
                width: 100%;
            }

        }

    }

}

// Phone Up
@media screen and ( min-width: 599px ) and ( max-width: 899px ) {

    .wp-block-hainsworth-image-text {

        .image-text__image-wrapper {
            margin: 6rem 2rem 1rem 0;

            width: 12rem;
            flex-shrink: 0;
        }

        &.has-media-on-the-right {
            .image-text__image-wrapper {
                order: 2;
                margin: 0 0 1rem 2rem;
            }
            .image-text__text-wrapper {
                order: 1;
            }
        }

        &.is-stacked-on-mobile {

            flex-wrap: nowrap;

            .image-text__image-wrapper {
                width: 12rem;
            }

        }

    }

}

// Tablet Up
@media screen and ( min-width: 899px ) and ( max-width: 1799px ) {

    .wp-block-hainsworth-image-text {

        .image-text__image-wrapper {
            margin: 8rem 3rem 1rem 0;

            width: 33.3333%;
            flex-shrink: 0;

            &.is-stacked-on-mobile {

                .image-text__image-wrapper {
                    width: 33.3333%;
                }

            }
        }

        &.has-media-on-the-right {
            .image-text__image-wrapper {
                order: 2;
                margin: 0 0 1rem 3rem;
            }
            .image-text__text-wrapper {
                order: 1;
            }
        }

    }

}

// Big-Desktop Up
@media screen and ( min-width: 1800px ) {

    .wp-block-hainsworth-image-text {

        .image-text__image-wrapper {
            margin: 10rem 4rem 1rem 0;

            width: 33.3333%;
            flex-shrink: 0;

            &.is-stacked-on-mobile {

                .image-text__image-wrapper {
                    width: 33.3333%;
                }

            }
        }

        &.has-media-on-the-right {
            .image-text__image-wrapper {
                order: 2;
                margin: 0 0 1rem 4rem;
            }
            .image-text__text-wrapper {
                order: 1;
            }
        }

    }

}