.wp-block-media-text.image-content {

    display: flex;
    flex-direction: column;

}

@include grid-media($phone-up) {

    .wp-block-media-text.image-content {

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .wp-block-media-text__media {

            flex-basis: 25%;
            margin-top: 8rem;

        }
        .wp-block-media-text__content {

            flex-basis: 75%;
            margin-top: 0;
            padding-right: ms(4);

        }

    }

}