.wp-block-media-text {

    position: relative;
    display: block;

    &.alignwide {

        margin-left: 0 !important;

        .wp-block-media-text__content {
            margin-top: ms(2);
            margin-bottom: ms(2);
            flex-direction: column;
        }

    }

}

.wp-block-media-text {

    &.alignfull {

        > figure > img,
        > figure > video {

            min-height: 100%;
            object-fit: cover;

        }

    }

}

@include grid-media($tablet-down) {

    .wp-block-media-text {

        @for $i from 1 through 6 {
            h#{$i} {
                font-size: 1.8rem;
            }
        }

    }

}

@include grid-media($phone-down) {

    .wp-block-media-text {

        @for $i from 1 through 6 {
            h#{$i} {
                font-size: 1.4rem;
            }
        }

    }

}

@include grid-media($phone-up) {

    .wp-block-media-text:not(.alignfull) {

        grid-template-columns: 40% 60% !important;
        margin: 0 auto !important;

        &.alignwide:not(.image-content) {

            display: grid;

            .wp-block-media-text__content {
                margin-left: -4rem;
                padding-right: 0;
                padding-left: 0;
                display: flex;
            }

            .wp-block-media-text__content {
                grid-column: 2 / span 1;
            }
            .wp-block-media-text__media {
                grid-column: 1 / span 1;
            }

        }


    }

    .wp-block-media-text.alignfull {

        .wp-block-media-text__media {
			// Make the image as tall as the text on larger screens.
            min-height: 100%;
        }

    }

}

@include grid-media($tablet-up) {

    .wp-block-media-text {

        &.arrow {
            &-center::after {
                @include arrow( 'center' );
            }
            &-left::after {
                @include arrow( 'left' );
            }
            &-right.has-media-on-the-right::after {
                @include arrow( 'right' );
            }
        }

    }

    .wp-block-media-text:not(.alignfull) {

        grid-template-columns: 50% 50% !important;
        margin: 0 !important;

        &.alignwide:not(.image-content) {

            .wp-block-media-text__content {
                margin-top: 0;
                margin-bottom: 0;
            }

            .wp-block-media-text__content {
                grid-column: 2 / span 1;
            }
            .wp-block-media-text__media {
                grid-column: 1 / span 1;
            }

        }

    }

}

@include grid-media($laptop-up) {

    .wp-block-media-text:not(.alignfull) {

        margin: 0 !important;

    }

}