.wp-block-hainsworth-modal {

    visibility: hidden;

    z-index: 50;
    margin: 0 !important;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    height: 100vh;
    width: 100% !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transition: all 0.5s ease-in-out;

    &.is-fullscreen {

        margin-left: calc( -100vw / 2 + 100% / 2);
        margin-right: calc( -100vw / 2 + 100% / 2);
        max-width: 100vw;
        width: 100vw !important;

        &.has-light-theme {
            background-color: rgba( white, 0.95 );
            color: black;
        }

        &.has-dark-theme {
            background-color: rgba( black, 0.95 );
            color: white;
        }

        .wp-block-hainsworth-modal__close-modal {
            top: ms(4);
            right: ms(4);
        }
    }

    &:not(.is-fullscreen) {
        background-color: transparent;

        .wp-block-hainsworth-modal__inner-container {


            @extend .content-wrapper;

            position: relative;
            min-height: 60vh;

            display: flex;
            align-items: center;
            flex-direction: column;

        }

        &.has-light-theme .wp-block-hainsworth-modal__inner-container {
            background-color: white;
            color: black;
        }

        &.has-dark-theme .wp-block-hainsworth-modal__inner-container {
            background-color: black;
            color: white;
        }
    }

    &.modal-active {

        visibility: visible;

        animation: 1s ease-out 0s 1 fadein;
        transition: all 0.2s ease-in-out;

    }

    &__inner-container {
        padding: ms(8) 0;
        width: 100%;
    }

    &__inner-container > * {

        width: 90%;
        margin: ms(2) auto;
        text-align: center;

    }

    .wp-block-hainsworth-modal__close-modal {

        position: absolute;
        top: ms();
        right: ms();
        background-color: darken( $black, 10% );
        border: none;
        border-radius: 100px;
        height: 3rem;
        width: 3rem;

        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        svg {
            fill: $light-grey;
            height: 3rem;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-color: $white;
            transition: all 0.3s ease-in-out;
            svg {
                fill: $black;
                transition: all 0.3s ease-in-out;
            }
        }

    }

}

@include grid-media( $tablet-up ) {

    .wp-block-hainsworth-modal {

        &__inner-container > * {

            width: 80%;
            margin: ms(3) auto;

        }

    }

}

@include grid-media( $desktop-up ) {

    .wp-block-hainsworth-modal {

        &__inner-container > * {

            width: 65%;
            margin: ms(4) auto;

        }

    }

}