.wp-block-hainsworth-swatch-gallery {

    display: flex;
    flex-wrap: wrap;

}

.swatch-gallery__swatch {
    width: 5rem !important;
    height: 5rem;
    margin: 0;
    margin-bottom: 25px !important;
    margin-right: 15px !important;
    flex: 0 1 auto;
    flex-shrink: 0;
    transition: all 0.2s ease-in-out;

    .swatch-gallery__image {
        border-radius: 100px;
        width: 5rem !important;
        height: 5rem;
    }

    .swatch-gallery__link {
        box-shadow: none !important;
    }

    &:hover {
        transform: scale(1.1);
    }
}