/**
 * Authored Mixins
 * ============================ */

 @mixin outer-container( $local-max-width: $max-width ) {

    @include clearfix;

    max-width: $local-max-width;
    margin: {
        left: auto;
        right: auto;
    }

    &::after {
        clear: both;
        content: "";
        display: table;
    }

}

@mixin content-container( $gutter: true ) {

    @if( $gutter ) {

        margin-left: map-get( $phone-down, gutter );
        margin-right: map-get( $phone-down, gutter );

        @include grid-media( $tablet-up ) {

            margin-left: ms(1);
            margin-right: ms(1);

        }

    }

    @include grid-media( $tablet-up ) {

        @include outer-container( 1000px );

    }

    @include grid-media( $laptop-up ) {

        @include outer-container( 1100px );

    }
    @include grid-media( $desktop-up ) {

        @include outer-container( 1300px );

    }
    @include grid-media( $big-desktop-up ) {

        @include outer-container( $max-width );

    }

}

// Remove margins and bullets/numbers on lists.
@mixin unstyled-list( $inline: false ) {

    margin: 0;
    list-style-type: none;

    @if ( $inline ) {
        li {
            display: inline-block;
        }
    }

}

// Horizontal centre
@mixin auto-margin {

    margin: {
        left: auto;
        right: auto;
    }

}

// Hide text, but make sure it can be read still by screen readers.
@mixin screen-reader-text {

    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

}

// Magical full-width containers inside grid containers
@mixin pushout-columns {

    clear: both;
    margin-left: -( ms(2) );
    margin-right: -( ms(2) );
    padding-left: ms(2);
    padding-right: ms(2);

    @include grid-media( $laptop-up ) {

        margin-left: -99rem;
        margin-right: -99rem;
        padding-left: 99rem;
        padding-right: 99rem;

    }

}

// Button mixin
@mixin btn-base() {

    display: inline-block;
    padding: ms(0) ms(7);
    border: 0px solid;
    border-radius: 0;
    color: $black;
    box-shadow: initial;
    transition: all 0.2s;

    font: {
        size: ms(2);
        family: $header-font;
        weight: $bold-weight;
    }

    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }

    cursor:pointer;

    &:hover,
    &:focus {
        background-color: $black;
        color: $white;
        border-color: $black;
    }

}

@mixin btn-solid( $bg-color, $text-color, $bg-hover: $white, $text-hover: $text-color ) {
    background-color: $bg-color;
    color: $text-color;

    &:hover,
    &:focus {
        background-color: $bg-hover;
        color: $text-hover;
    }

}

@mixin btn-hollow( $color, $bg-hover: $color ) {
    color: $color;
    background-color: transparent;
    border: 1px solid;

    &:hover,
    &:focus {
        background-color: $bg-hover;
        color: $white;
        border-color: $bg-hover;
    }

}

@mixin arrow( $position: 'left' ) {

    .page-template-tpl-product-gold & { background-image: url( 'assets/images/down-arrow-gold.svg' ); }
    .page-template-tpl-product-green & { background-image: url( 'assets/images/down-arrow-green.svg' ); }
    .page-template-tpl-product-blue  & { background-image: url( 'assets/images/down-arrow-blue.svg' ); }

    content: '';

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url( 'assets/images/down-arrow.svg' );

    width: 1.5rem;
    height: 5rem;
    min-height: 5rem;
    bottom: -3rem;

    z-index: 5;
    position: absolute;

    @if $position == 'left' {
        left: 5rem;
    } @else if $position == 'right' {
        right: 5rem;
    } @else if $position == 'center' {
        left: 50%;
        transform: translateX(-50%);
    }

    @include grid-media( $tablet-up ) {
        width: 2.5rem;
        height: 9rem;
        bottom: -6rem;
    }
    @include grid-media( $big-desktop-up ) {
        bottom: -5rem;
    }

}

// Font Awesome Icon base
@mixin custom-fa-icon( $icon: $fa-var-angle-down ) {

    @include fa-icon();

    content: fa-content($icon);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    vertical-align: 0;

}

@mixin heading() {

    text-transform: uppercase;

}

// Subheadings
@mixin subheading() {

    text-transform: uppercase;
    font-size: ms(-1);

}

@mixin bg-image() {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@mixin flex-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start; // stretch for equal heights
    align-content: center;
    box-sizing: border-box;

}