/**
 * Variables
 * ============================ */

// Colors
$white:        #FFFFFF;
$light-grey:   #e8e8e6;
$black:        #404040;
$blue:         #4285F4;
$red:          #D50032;
$green:        #00975c;
$gold:         #7f6939;

$success:      #4CAF50;
$error:        #F44336;
$info:         #FFC107;

// Links
$anchor-color: $black;
$anchor-color-hover: $black;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// Typography
$body-font: 'Texta Alt', sans-serif;
$header-font: 'Texta Alt', sans-serif;
$heavy-weight: 700;
$bold-weight: 600;
$normal-weight: 400;
$light-weight: 300;

// Transitions
$transition: ease-in-out;
$duration  : 0.2s;
$delay     : 0.2s;

// Z indices
$z-elements: off-canvas, site, menus, overlay, modals;

// Buttons
$button-background:       $black;
$button-background-hover: $blue;
$button-color:            $white;
$border-radius:           5px;
$border-radius-small:     3px;

$h1: (
    phone:       ms(4),
    phone-up:    ms(4),
    tablet:      ms(5),
    laptop:      ms(5),
    desktop:     ms(6),
    big-desktop: ms(6)
);
$h2: (
    phone:       ms(2),
    phone-up:    ms(3),
    tablet:      ms(4),
    laptop:      ms(4),
    desktop:     ms(5),
    big-desktop: ms(5)
);
$h3: (
    phone:       ms(1),
    phone-up:    ms(1),
    tablet:      ms(1),
    laptop:      ms(2),
    desktop:     ms(3),
    big-desktop: ms(3)
);
$h4: (
    phone:       ms(0),
    phone-up:    ms(1),
    tablet:      ms(1),
    laptop:      ms(2),
    desktop:     ms(2),
    big-desktop: ms(2)
);
$h5: (
    phone:       ms(0),
    phone-up:    ms(0),
    tablet:      ms(1),
    laptop:      ms(1),
    desktop:     ms(1),
    big-desktop: ms(1)
);