/**
 * Containers
 * ============================ */

*, *:after, *:before {

    box-sizing: border-box;

}

body {
    background-color: $white;

    &.has-active-modal .site,
    &.js-menu-active .site {

        position: fixed;
        width: 100%;

    }

}

.site {

    overflow-x: hidden;

}

.single .site-content,
.blog .site-content,
.archive .site-content,
.page-content__wrapper,
.content-wrapper {

    @include content-container(false);

}

.blog,
.author,
.date,
.category,
.tag,
.single,
.page-template-tpl-timeline,
.page-template-tpl-product {
    .site-content {
        margin-bottom: ms(8);
    }
}

.site-content,
.site-main,
.content-area {

    @include clearfix;

}