/**
 * Footer
 * ============================ */

.footer {

    clear: both;
    background-color: $light-grey;
    padding: ms(4) 0 ms(2);
    width: 100%;
    overflow: hidden;

    @include grid-media($tablet-up) {
        padding: ms(6) 0 ms(4);
    }

    .site-branding--footer,
    .branding-container {
        @include grid-column(4,$phone-down);
        @include grid-media($phone-up) {
            @include grid-column(12);
        }
        @include grid-media($tablet-up) {
            @include grid-column(5);
        }
        @include grid-media($desktop-up) {
            @include grid-column(6);
        }
        @include grid-media($big-desktop-up) {
            @include grid-column(9);
        }

    }

    .site-map {
        @include grid-column(4,$phone-down);

        @include grid-media($phone-up) {
            @include grid-column(7);
        }
        @include grid-media($tablet-up) {
            @include grid-column(4);
        }
        @include grid-media($big-desktop-up) {
            @include grid-column(4);
        }
    }

    .footer-widget-area {
        @include grid-column(4,$phone-down);

        @include grid-media($phone-up) {
            @include grid-column(5);
        }
        @include grid-media($tablet-up) {
            @include grid-column(3);
        }
        @include grid-media($desktop-up) {
            @include grid-column(2);
        }
        @include grid-media($big-desktop-up) {
            @include grid-column(3);
        }
    }

    .site-footer__inner {
        margin-bottom: ms(4);
        @include grid-media($tablet-up) {
            margin-bottom: ms(8);
        }
    }

    .footer__bottom-bar {
        width: 100%;
        overflow: hidden;
        padding-top: ms(2);

    }

    .site-branding--footer-aw {
        width: 100%;
        overflow: hidden;
        text-align: left;

        .branding-container {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: ms(-1);
            line-height: 1;

            @include grid-media($phone-up) {
                justify-content: flex-start;
                font-size: ms();
            }
        }

        .pre-logo {
            margin-right: ms(-4);
        }

        span {
            display: inline-block;
        }

        svg {
            width: 14rem;
        }
    }

    .footer__bottom-bar .content-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

}

.site-terms,
.site-social {

    // Helps with vertical alignment
    line-height: ms(5);

}