/**
 * Header
 * ============================ */

.site-header {

    @include clearfix();
    position: relative;

    @include grid-media( $tablet-up ) {
        padding: ms(3) 0 ms(2);
        height: 180px;
    }

    .no-js & {
        height: auto;
    }

    .content-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

}

.site-main {

    position: relative;

}

.site-branding--header {

    @include grid-column(4, $phone-down);

    @include grid-media( $phone-up ) {

        @include grid-column( 6 );
        @include grid-shift(3);

    }
    @include grid-media( $tablet-up ) {

        @include grid-column( 6 );
        @include grid-shift(3);

    }
    @include grid-media( $big-desktop-up ) {

        @include grid-column( 4 );
        @include grid-shift(6);

    }

}

.menu-toggle {

    width: 4rem;
    margin-left: 0.9rem;
    text-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;

    z-index: 20;

    .no-js & {
        display: none;
    }

    a {
        display: block;
        line-height: 4;
    }

    a svg {
        width: 2rem;
        position: relative;
        top: 5px;
    }

    @include grid-media( $tablet-up ) {

        margin-left: 1rem;

    }
    @include grid-media( $big-desktop-up ) {

        margin-left: 1.618rem;

    }

    .open {
        visibility: visible;
        opacity: 1;
        position: relative;
    }

    .close {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }

    .js-menu-active & {

        .open {
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }

        .close {
            visibility: visible;
            opacity: 1;
            position: relative;
        }

    }

}